.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    left: -40px;
    top: 520px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}

.fa-facebook-messenger{
    background: #0084ff;
}
.fa-whatsapp{
    background: #25d366;
}
.social a:hover{
    padding: 10px 25px;
}

* {
	
	margin: 0;
}


body {
	background: white;
	font-size: 16px;
	font-family: "Staatliches", Arial, sans-serif, helvetica;

}
.warp {
	position: absolute;
	left: 400px;
	top: 50px;
	width: 100%;
	max-width: 500px;
	margin: 0;
}
form{
	width: 100%;
	margin: 20px 0;
	padding: 20px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 3px grey;
	border-top: 4px solid blue;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
	border: 1px solid #536DFE;
	border-radius: 2px;
	padding: 16px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
	font-family: 'Source Code Pro', monospace;
	font-size: 1em;
	color: #141938;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus{
	border: 2px solid blue;
	padding: 15px;
}
form textarea{
	max-width: 100%;
	min-width: 100%;
	max-height: 200px;
	min-height: 100px;
}
.alert {
	padding: 1em;
	color: #fff;
	border-radius: 2px;
	margin-bottom: 20px;
	font-size: 14px;
}
.alert.error { 
	background: #F2DEDE;
	border: 1px solid #a94442;
	color: #a94442;
}
.alert.succes {
	background: #4CAF50;
}
.alert.succes2 {
	background: #F2DEDE;
        border: 1px solid #a94442;
	color: #a94442;
}

.btn,
form input [type="submit"]{
	padding: 15px;
	background: #ED572A;
	color: #E1E9FA;
	font-size: 1em;
	font-family: "Staatliches", Arial, sans-serif, helvetica;
	border-radius: 2px;
	border: none;
	float: right;
	cursor: pointer;
}
form input [type="submit"]:hover{
	background: #E64A19;
}


